﻿@model int

@{
    ViewBag.Title = "Verificacion completada";
}

<h2>Orden Completada</h2>

<p>¡Gracias por tu orden! Tu numero de orden es: @Model</p>

<p>¿Qué tal si compras más música en nuestra 
    @Html.ActionLink("Tienda", "Index", "Home")
</p>